/*
 * Estilos do InfoFighters.com
 */

 /* Importações de folhas de estilos complementares */
 @import 'reset.css';
 @import 'fonts.css';

/* Estilos genéricos */
body {
	background: #EEEEEE url('/res/img/bg.jpg');
	font: 0.8em 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
	color: #333333;
	text-shadow: 0 1px 1px white;
}
section {
	background-color: #FFFFFF;
	box-shadow: 2px 2px 5px #333333;
	margin-top: 15px;
	margin-bottom: 20px;
	padding: 15px 0;
}

hr {
	border: none;
	border-top: solid 1px #333333;
	border-bottom: solid 1px white;
}

h1, h2 {
	font-family: 'FuturaMdBTBold';
}
h1 {font-size: 2em;padding: 10px 0 5px 0;}
h2 {font-size: 1.15em;padding: 6px 0 3px 0;}
h3 {font-size: 1em;}

img {
	max-width: 100%;
}

input[type="text"],
input[type="password"],
input[type="file"],
input[type="search"],
textarea {
	font: 14px/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
	color: #333333;
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
	border: solid 1px #222222;
	background-color: #FAFAFA;
	outline: none;
	transition-duration:1s;
	-o-transition-duration:1s;
	-moz-transition-duration:1s;
	-webkit-transition-duration:1s;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="file"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #000000;
	background-color: #FFFFFF;
	border-color: #D47500;
}
input[type="checkbox"], input[type="radio"] {
	display: inline;
}

button[type="submit"], input[type="submit"]  {
	background-color: #D40000;
	border: none;
	font: 1.15em 'FuturaMdBTBold';
	color: white;
	text-shadow: 0 1px 1px #640000;
	box-shadow: 1px 1px 0 #640000;
	-o-box-shadow: 1px 1px 0 #640000;
	-moz-box-shadow: 1px 1px 0 #640000;
	-webkit-box-shadow: 1px 1px 0 #640000;
}
button[type="submit"]:hover, input[type="submit"]:hover {
	background-color: #E40000;
}

div.search-box {
	border: solid 1px #D40000;
	background-color: #D40000;
	padding: 0;
}

input[name="q"] {
	border: none;
	font: 16px 'FuturaLtBTLight' bold;
	margin: 0;
	padding: 0px;
	height: 23px !important;
	line-height: 23px;
	width: 90%;
	overflow: hidden;
	display: inline-block;
}
button.search_submit {
	font: 16px 'FuturaLtBTLight' bold;
	border:none;
	margin: 0;
	height: 23px !important;
	width: 10%;
	overflow: hidden;
	display: inline-block;
	vertical-align: bottom;
	box-shadow: none;
	-o-box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

a {
	color: #D40000;
}
a:hover {
	color: #E40000;
}
table {padding: 0;border:0;}
tr {padding: 0;border:0;}
tr:nth-child(odd){background-color: #EFEFEF;}
th, td {
	margin: 0;
	padding: 3px;
	border: solid 1px #666666;
}
th {background-color: #BBBBBB;}

/* Classes genéricas */
.errorlist {
	font-size: 12px;
}
.error { color:red; }
.help_text { color: #666666;}
.no-important { color: #666666;font-size:11px; }
.wide input {
	width: 100%;
}
.highlight {
	color: #D47500;
	font-weight: bold;
	text-decoration: underline;
}
.logo {
	max-width: 100%;
	transition-duration:1s;
	-o-transition-duration:1s;
	-moz-transition-duration:1s;
	-webkit-transition-duration:5s;
}
.strongest {font: 16px 'FuturaMdBTBold';}
.required, .beta {color:#D40000;vertical-align: super;}
.help_nav, .sidepanel {
	background-color: #EFEFEF;
	border-radius: 6px;
}
.help_nav div.margin, .sidepanel div.margin { padding:4px !important;}
.help_topics {padding:0;margin:0;}
.help_topics li {display: list-item;list-style: none;}

.list-item {margin: 10px 0;}
.list-item-title {font: 1.15em 'FuturaMdBTBold';}
.pagination-container {
	text-align: center;
	margin: 10px;
}
.pagination {
	background-color: #EFEFEF;
	border-radius: 6px;
	padding: 4px;
	display: inline-block;
}

.tall {
	margin: 10px;
	clear: both;
}

.category-tag {
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	margin: 1px 3px;
	padding: 3px;
	line-height: 12px;
}
.category-tag span {
	display: inline-block;
	vertical-align: middle;
}
.category-tag span:hover {
	text-decoration: underline;
}
.tag-color {
	display: inline-block;
	vertical-align: middle;
	border: none;
	border-left: 15px solid #A40000;
	padding-left: 3px;
	height: 15px;
	margin: 3px;
}

input.code_input {
	font-family: monospace;
	font-size: 22px;
}

/* IDs genéricos */
#header {
	margin-bottom: 15px;
}
#footer {
	text-align: center;
	margin-bottom: 10px;
}
#search {
	text-align: right;
}