<div class="pagination-container">
{% if pages.paginator.num_pages > 1 %}
<div class="pagination">
	{% if pages.has_previous %}
	<a href="?page={{ pages.previous_page_number }}">&larr; Anterior</a>&nbsp;
	{% endif %}

	{% for page in pages.paginator.page_range %}
		{% if page = pages.number %}
			&nbsp;<strong>{{page}}</strong>&nbsp;
		{% else %}
			&nbsp;<a href="?page={{ page }}">{{ page }}</a>&nbsp;
		{% endif %}
	{% endfor %}
	
	{% if pages.has_next %}
	&nbsp;<a href="?page={{ pages.next_page_number }}">Próximo &rarr;</a>
	{% endif %}
</div>
{% endif %}
</div>