{% extends './base_pure.html' %}
{% block content %}Dados insuficientes na notícia

Título: {{ item.title }}
Descrição: {{ item.description }}
Link para a notícia completa: {{ item.link }}

Essa notícia contém poucas palavras relevantes e o Clippbot não é capaz de análisar tão poucas informações.

Por favor, leia a notícia completa e acesse http://clippbot.appspot.com/{{ item.key.name }}/edit ou responda esse e-mail para definir as categorias dessa notícia.

Para responder esse e-mail liste as categorias dessa notícia separadas por vírgula, como o exemplo abaixo. Apenas a primeira linha da resposta será considerada.

categoria1, categoria2, categoria3

{% endblock %}
{% block footer %}{% endblock %}