<html>
<div style="background: #EEEEEE url('http://clippbot.appspot.com/res/img/bg.png');font: 14px/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;color: #333333;text-shadow: 0 1px 1px white;padding:15px;">
<a href="http://clippbot.appspot.com">
	<img src="http://clippbot.appspot.com/res/img/clippbot-logo.png" style="max-width: 100%;"/>
</a>
<hr style="border: none;border-top: solid 1px #333333;border-bottom: solid 1px white;">
{% block content %}{% endblock %}
<hr style="border: none;border-top: solid 1px #333333;border-bottom: solid 1px white;">
<div align="center">
	{% block footer %}{% endblock %}
	<div>
		<label style="font-size: 16px;font-weight: bold;">Clippbot</label>
		<label style="color:#D40000;vertical-align: super;">beta</label> &copy; 2012
	</div>
</div>
</div>
</html>