{% extends './base.html' %}

{% block content %}
<h1>Notícia não classificada</h1>
<p>
	<strong>Título:</strong> {{ item.title }}<br>
	<strong>Descrição:</strong> {{ item.description }}<br>
	<strong>Link para a notícia completa:</strong> <a href="{{ item.link }}">{{ item.link }}</a>
</p>
<p>Essa notícia não se enquadrou em nenhuma categoria da sua equipe.</p>

<p>Por favor, leia a notícia completa e acesse <a href="http://clippbot.appspot.com/{{ item.key.name }}/edit">http://clippbot.appspot.com/{{ item.key.name }}/edit</a> ou responda esse e-mail para definir as categorias dessa notícia.</p>

<p>Para responder esse e-mail liste as categorias dessa notícia separadas por vírgula, como o exemplo abaixo. Apenas a primeira linha da resposta será considerada.</p>

<p><code>categoria1, categoria2, categoria3</code></p>
{% endblock %}

{% block footer %}
{% endblock %}